################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MovingWordpress/bin/Debug/net5.0-windows
/.vs/MovingWordpress/v16
/MovingWordpress/obj
/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/obj/Debug/net5.0-windows
/MVVMCore/obj
/MovingWordpress/bin/Release/net5.0-windows
/MVVMCore/bin/Release/net5.0-windows
/.vs/MovingWordpress/DesignTimeBuild
/MovingWordPressInstaller/Release
/MovingWordPressInstaller/Debug
/MovingWordPressInstaller/インストーラ
/MovingWordPressInstaller/MovingWordPress_0_9_2_0
/.vs/MovingWordpress/v17
